.sacola {
    background: url(../img/sacola.png) no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    position: absolute;
    top: 0;
    right: 0;
        
}

.menu-opcoes ul {
    font-size: 15px;
}

.menu-opcoes a {
    color: #333333;
}

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}

.container {
    margin: 0 auto;
    width: 940px;
}

header {
    position: relative;
}
    
.menu-opcoes {
    position: static;
    text-align: right; 
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
    clear: left;
    padding-bottom: 10px;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    margin: 10px;
}
    
.menu-departamentos li {
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    color: #333333;
    text-decoration: none;
}

.busca input {
        vertical-align: middle;
}

.busca input[type=search] {
        width: 170px;
}

.destaque {
    margin-top: 10px;
}

.painel {
    margin: 10px 0;
    padding: 10px;
    width: 445px;
}
    
.novidades {
    float: left;
    background-color: #f5dcdc;
}

.mais-vendidos {
    float: right;
    background-color: #dcdcf5;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.painel h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel a {
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

footer {
    background-image: url(../img/fundo-rodape.png);
    clear: both;
}

.social a {
    /* tamanho da imagem */
    height: 32px;
    width: 32px;
    /* image replacement */
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}

.social a[href*="plus.google.com"] {
        background-image: url(../img/googleplus.png);
}

footer {
    padding: 20px 0;
}

footer .container {
    position: relative;
}

.social {
    position: absolute;
    top: 20px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.destaque {
    position: relative;
}

.pause,
.play {
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

.pause {
    border-left: 10px solid #900;
    border-right: 10px solid #900;
    height: 30px;
    width: 5px;
}

.play {
border-left: 25px solid #900;
border-bottom: 15px solid transparent;
border-top: 15px solid transparent;
}

h2 ~ p {
    font-style: italic;
}

h1 {
    color: blue;
    transition: 0.7s ease-out;
}

article > h1 {
color: blue;
} 

p:first-letter {
    font-weight: bold;
}

h1 + p {
    text-indent: 0;
}

p:first-line {
    font-variant: small-caps;
}

.painel {
border-radius: 4px;
box-shadow: 1px 1px 4px #999;
}
.painel h2 {
text-shadow: 3px 3px 2px #FFF;
}

.busca {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.painel h2 {
    text-shadow: 1px 1px 2px rgba(255,255,255,0.8);
}

.novidades {
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc, #bebef4);
}

.mais-vendidos {
    background: #dcdcf5;
    background: linear-gradient(#dcdcf5, #f4bebe);
}

#menu-departamentos {
    transform: rotate(-10deg);
}
.destaque img:hover {
    transform: scale(1.2) rotate(5deg);
    transition: 2s ease-in;
}
.painel li:hover {
    box-shadow: 0 0 5px #333;
    transition: 0.7s ease-in;
}

.painel li:hover {
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px #333;
    transition: 0.7s ease-out;
    transform: scale(1.2) rotate(-5deg);   
}

.painel li:nth-child(2n):hover {
    transform: scale(1.2) rotate(5deg);
}


@media screen {
body {
        font-size: 16px;
    }
}
    
@media (max-width: 480px) {
    body {
        font-size: 12px;
    }
}

.cores label:after {
    content: '';
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

label[for=verde]:after {
    background-color: #33CC66;
}
    
label[for=rosa]:after {
    background-color: #FF6666;
}

label[for=azul]:after {
    background-color: #6666FF;
}

.cores label:after {
    -moz-box-sizing:    border-box;
    box-sizing:         border-box;
    position:           absolute;
    top:                30px;
}

.cores input[type=radio] {
    display: none;
}

.cores input:not(:checked) + label img {
    display: none;
}

.cores {
    position: relative;
    padding-top: 90px;
}

label[for=verde]:after {
    left: 0;
}

label[for=rosa]:after {
    left: 60px;
}
    
label[for=azul]:after {
    left: 120px;
}

.cores legend {
    position: absolute;
    top: 0;
    left: 0; 
}

.cores label img {
    display: block;
    max-width: 100%;
}

.produto {
    color: #333;
    line-height: 1.3;
    margin-top: 2em;
}

.produto h1 {
    font-size: 1.8em;
    font-weight: bold;
}

.produto p {
    font-size: 1.2em;
    font-style: italic;
    margin-bottom: 1em
}

.produto legend {
    display: block;
    font: bold 0.9em/2.5 Arial;
    text-transform: uppercase;
}

.comprar {
    background: #91bd3c;
    border: none;
    color: #333;
    font-size: 1.4em;
    text-transform: uppercase;
    box-shadow: 0 1px 3px #777;
    display: block;
    padding: 0.5em 1em;
    margin: 1em 0;
}