.cores label:after {
    border: 6px solid rgba(0,0,0,0);
    transition: 1s;
}

.cores label:hover:after {
    border: 6px solid rgba(0,0,0,0.1);
}

fieldset {
    display: table-column;
}

.produto {
    /* a foto vai se posicionar absolutamente com relação
    a esse elemento, por isso preciso estar posicionado
    */
    font-size: 1.2em;
    position: relative;
    /* deixo 40% de espaço em branco na esquerda para foto ocupar */
    padding-left: 40%;
}
        
.cores {
    /* eu era relative antes; reinicio para static para evitar
    que a foto se posicione com relação a mim
    */
    position: static;
    padding: 0;
}

.cores legend {
    /* eu era absolute antes, para ter o mesmo comportamento no Chrome e
    no Firefox; agora quero voltar ao fluxo da página
    */
    position: static;
}

.cores label img {
    /* imagem se posiciona absolutamente à esquerda com relação ao .produto */
    max-width: 35%;
    max-height: 100%;
}

.cores label:after {
    /* as bolinhas coloridas tinham posição absoluta.
    não precisamos mais, basta flutuar uma do lado da outra */
    position: static;
    float: left;
    margin-right: 10px;
}

@media (min-width: 630px) {
        .produto {
            position: relative;
            padding-left: 40%;
            font-size: 1.2em;
    }
        .cores {
            position: static;
            padding: 0;
    }
        .cores legend {
            position: static;
    }
        .cores label img {
            position: absolute;
            top: 0;
            left: 0;
            max-width: 35%;
            max-height: 100%;
    }
        .cores label:after {
            position: static;
            float: left;
            margin-right: 10px;
    }
        fieldset {
            display: inline-block;
            vertical-align: top;
            margin: 1em 0;
            min-width: 200px;
            width: 45%;
    }
}


body {
    color: rgb(134, 127, 127);
}

p {
    text-align: justify;
    text-indent: 50px;
}

figure.foto-legenda img {  /* seleciona todas as img dentro de figure com a classe foto-legenda */
    border: 1px solid rgb(223, 216, 216);
}

.detalhes {
    padding: 2em 0;
}

.detalhes h2 {
    font-size: 1.5em;
    line-height: 2;
}
    
.detalhes p {
    margin: 1em 0;
    font-size: 1em;
    line-height: 1.5;
    max-width: 36em;
}

@media (min-width: 500px) {
.detalhes {
    font-size: 1.2em;
    }
}

table {
    border-spacing: 0.2em;
    border-collapse: separate;
}
    
thead {
    background-color: #999;
}

thead th {
    font-weight: bold;
    padding: 0.3em 1em;
    text-align: center;
}
    
td {
    padding: 0.3em;
}

tr:nth-child(2n) {
    background-color: #ccc;
}
        
td:first-child {
    font-style: italic;
}

.produto-back {
    background-color: #F2F2F2;
    margin-top: 1em;
    border-top: 2px solid #ccc;
}
    
.cores label img {
    border: 2px solid #ccc;
}

